.container {
  background-color: var(--main-color);
  width: 100vw;
  height: calc(100vh - 100px);
  position: relative;
}

.arrowLeft,
.arrowRight {
  position: absolute;
  cursor: pointer;
  z-index: 5;
}

.arrowLeft {
  top: 50%;
  left: 80px;
  /* I was supposed to use left:0; but this didn't give the desired appearance , so I hardcoded the value .  */
  transform: translate(-50%, -50%);
}

.arrowRight {
  top: 50%;
  right: -7%;
  right: -2%;
  transform: translate(-50%, -50%);
}

@media screen and (max-width: 600px) {
  .arrowLeft {
    left: 25px;
  }

  .arrowRight {
    right: -12%;
  }
}

.bulletsContainer {
  padding: 5px;
  background-color: white;
  width: 100px;
  height: 30px;
  border-radius: 10rem;
  text-align: center;
  position: absolute;
  bottom: 15%;
  left: 50%;
  transform: translateX(-50%);
  /* I had to make the bullets container absolutely positioned because removing the carousel elements from the normal document flow interrupted the design .  */
}

.bulletsContainer .bullet,
.bulletsContainer .bulletActive {
  display: inline-block;
  margin: 4px;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  cursor: pointer;
}

.bulletsContainer .bullet {
  background-color: grey;
}

.bulletsContainer .bulletActive {
  background-color: var(--main-color);
}

@media screen and (max-width: 740px) {

  /* The max-width I specified here is because this was the visual breakpoint where a media query was needed .  */
  .bulletsContainer {
    bottom: 3%;
  }
}

/* - margin needs to be increased in case of min-width: 1000px so that only one item is displayed in the container
- When screen size is less than 700px, the flex direction needs to be column */
.carouselContainer {
  display: flex;
  align-items: center;
  overflow-x: hidden;
  /* gap: 5rem; */
  width: 100%;
  /* width: fit-content; */
  height: 100%;
}

.featuredProduct {
  display: flex;
  gap: 1rem;
  min-width: fit-content;
  align-items: center;
  justify-content: center;
  text-align: center;
  transition: all 0.5s ease-in-out;
}

.featuredProduct h1 {
  color: white;
  font-size: 3rem;
}

@media screen and (min-width: 1150px) {
  .featuredProduct {
    margin: 17rem;
    min-width: 100%;
    margin: 0;
  }
}

@media screen and (max-width: 415px) {
  .featuredProduct {
    flex-direction: column;
    text-align: center;
  }
}

@media screen and (max-width: 700px) {
  .featuredProduct {
    margin: 0;
  }

  .featuredProduct h1 {
    font-size: 2rem;
  }

}

.sliding-transition {
  transition: all 0.5s ease-in-out;
}