/* On using just nav to select the navbar, I got an error that I must use a pure selector, and that is to use a class or an ID . Like that, nextjs ensures that the styling is just scoped to the module in hand . */

.container {
  width: 100vw;
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #d1411e;
  padding: 0 50px;
  position: sticky;
  top: 0;
  /* I really forgot that in order for the position sticky to work, I need to specify the dimensions that the element will stick to .  */
  z-index: 10;

}
.contact {
  display: flex;
  gap: 1rem;
}

.telephoneImgContainer {
  background-color: white;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  display: grid;
  place-items: center;
}

/* The above class name is much better to be wrote using bem : 
.contact__telephone-img-container
 but like that it couldn't be accessed using dot notation, so bare with me and think of it as a requirements of a team - even if you don't agree with it -  */
.contactDetails {
  color: white;
}

.contactDetails p {
  margin: 0
}

.contactDetails p:first-child {
  margin-top: 0.3rem;
  font-size: 12px;
}

.contactDetails p:nth-child(2) {
  font-weight: bold;
  font-weight: 700;
  font-size: 20px;
}

.navbarMenu {
  list-style-type: none;
  display: flex;
  gap: 2rem;
  justify-content: space-between;
  align-items: center;
  margin-right: 5rem;
  padding: 0;
  color: white;
}

.cartIconContainer {
  position: relative;
}

.inCartNumber {
  position: absolute;
  top: -25px;
  right: -13px;
  background-color: white;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  color: var(--main-color);
  text-align: center;
  font-weight: bold;
}

.menuIcon {
  width: 20px;
  height: 18px;
  position: relative;
  cursor: pointer;
  display: none;
}

.menuIcon .bar {
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: white;
  left: 0;
  transition: all 0.3s ease;
}
.menuIcon .bar:first-child {
  top: 0;
}
.menuIcon .bar:nth-child(2) {
  top: 6px;
}
.menuIcon .bar:last-child {
  top: 12px;
}
.menuIcon.active .bar:nth-child(2) {
  display: none;
}
.menuIcon.active .bar:first-child,
.menuIcon.active .bar:last-child {
  top: 6px;
}
.menuIcon.active .bar:first-child {
  transform: rotate(45deg);
}
.menuIcon.active .bar:last-child {
  transform: rotate(-45deg);
}

/* mobile navigation */
.navbarMenuMobile {
  display: none;
}


@media screen and (max-width: 1015px) {
  .container {
    justify-content: space-between;
  }
  .navbarMenu {
    display: none;
  }
  .menuIcon {
    display: block;
  }
  .navbarMenuMobile.mobileMenuActive {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    align-items: center;
    justify-content: center;
    background-color: var(--main-color);
    color: white;
    width: 100vw;
    height: calc(100vh - 100px);
    margin: 0;
    padding: 0;
    list-style-type: none;
    font-size: 2rem;
    z-index: 5;
  }
  
}