  @import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&family=Nunito+Sans:opsz,wght@6..12,300;6..12,400;6..12,500;6..12,600&display=swap');

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Inter', sans-serif;
}
/*  Trying to use font-weight: bold; on some elements didn't work while using the Inter object coming with nextjs, so I had to manually use the font here in the global css file.  */
:root {
  --main-color: #d1411e;
}
a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
